<!DOCTYPE html>
<html class="no-js" lang="it">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Dashboard for Amazon">
<meta name="author" content="Claudio Fusillo">
<link rel="shortcut icon" href="/images/img.png">

<title>Configurazione</title>

<link href="./public/stylesheets/bootstrap.css" rel="stylesheet">
<link href="./public/stylesheets/style2.css" rel="stylesheet">

<script src="./public/javascripts/jquery.js"></script>
<script src="./public/javascripts/bootstrap.js"></script>
<script src="./public/javascripts/material.js"></script>
<script src="./public/javascripts/moment.js"></script>
<script type="text/javascript" src="./public/javascripts/bootstrap-material-datetimepicker.js"></script>
<script type="text/javascript" src="./public/javascripts/bootstrap-slider.js"></script>
<script type="text/javascript" src="./public/javascripts/TermCommon.js"></script>
<script type="text/javascript" src="./public/javascripts/socket.io.js"></script>

<script type="text/javascript">
  $(document).ready(function()
  {
	var options = {
	  parameter : "#select-id",
	  callback : fillConfiguration,
	  callbackOne : fillConfigurationForm
	}
	$('#elencoDispositivi').hide();
	$('#noDispositivi').hide();
	$('#tipoMisurazione').hide();
	$('#tipoModalita').hide();
	getConfiguration(options);
  });

  /*
  var host = location.host;
  var ws = new WebSocket("ws://"+location.host+"/therm");
  ws.onopen = function(event)
  {
	console.log('WebSocket connection established');
  }
  /**
  ws.onerror = function(event)
  {
	console.log('WebSocket connection error');
  }
  ws.onmessage = function(event)
  {
	console.log('WebSocket received message');
  }
  var a=1;
  /**
  var socket = io.connect('http://localhost:8100');
  var test =
  {
  	dato1 : 1,
  	dato2 : 'pippo'
  };

  
  socket.on('connect',function() {
  //socket.emit('test',JSON.stringify(test));
  	console.log('Client has connected to the server!');
  });
  socket.emit('test',JSON.stringify(test));
   **/
  var a = 1;
</script>
</head>

<body>
	<div class="wrapper">

		<!-- Sidebar Holder -->
		<nav id="sidebar">
			<div class="sidebar-header">
				<h3>Thermostat Dashboard</h3>
			</div>
			<ul class="list-unstyled components">
				<li><a href="./dashboard"> <i class="glyphicon glyphicon-home"></i> Home
				</a></li>
				<li class="active"><a href="./configurazione"> <i class="glyphicon glyphicon-cog"></i>Gestione
				</a></li>
				<li><a href="./statistiche"> <i class="glyphicon glyphicon-stats"></i>Statistiche
				</a></li>
				<li><a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"><i class="glyphicon glyphicon-list-alt"></i>Programmazione</a>
					<ul class="collapse list-unstyled" id="homeSubmenu">
						<li><a href="./programmazioneTemp"><i class="glyphicon glyphicon-fire"></i>Accensione Riscaldamento</a></li>
						<li><a href="./programmazioneLight">Accensione Luce</a></li>
					</ul></li>
			</ul>
		</nav>

		<!-- Page Content Holder -->
		<div id="content">

			<nav class="navbar navbar-default">
				<div class="container-fluid">

					<div class="navbar-header">
						<button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
							<i class="glyphicon glyphicon-menu-hamburger"></i> <span>Menu</span>
						</button>
					</div>
				</div>
			</nav>

			<h2>Configurazione</h2>
			<p>Seleziona il dispositivo da configurare.</p>

			<p>
				E' possibile:<br /> 1) Aggiornare il nome del dispositivo<br /> 2) Impostare modalità di funzionamento del dispositivo <br /> 3)
				Impostare modalità di relevazione temperatura
			</p>

			<div class="line"></div>
			<form class="form-horizontal">
				<div id="noDispositivi">
					<label class="control-label col-sm-4" style="text-align: left">Nessun Dispositivo Registrato</label>
				</div>
				<div id="elencoDispositivi" class="form-group">
					<label class="control-label col-sm-2" for="select-id">Dispositivi registrati:</label>
					<div class="col-sm-6">
						<select class="form-control" id="select-id">
						</select>
					</div>
				</div>
			</form>

			<form id="ConfigurationData" class="collapse form-horizontal" method="POST" action="./rest/updateConfiguration">
				<h4>Dati Dispositivo</h4>
				<div class="form-horizontal">

					<div class="form-group">
						<label class="control-label col-sm-2" for="macAddress">MacAddress:</label> <label class="control-label col-sm-3"
							style="text-align: left" id="macAddress"></label>
							
						<label class="control-label col-sm-2" for="ipAddress">IpAddress:</label> <label class="control-label col-sm-2"
							style="text-align: left" id="ipAddress"></label>
							
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="location">Luogo di misurazione:</label>
						<div class="col-sm-6">
							<input class="form-control" id="location" name="location" placeholder="Luogo di misurazione">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="lastAccess">Ultimo Acceso:</label> <label class="control-label col-sm-3"
							style="text-align: left" id="lastAccess"></label>
						<label class="control-label col-sm-2" for="lastCheck">Ultimo Check:</label> <label class="control-label col-sm-2"
							style="text-align: left" id="lastCheck"></label>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="lastUpdate">Ultimo Aggiornamento:</label> <label class="control-label col-sm-6"
							style="text-align: left" id="lastUpdate"></label>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="flagReleTemp">Controllo Riscaldamento:</label>
						<div class="checkbox form-check col-sm-1">
							<input type="checkbox" disabled="disabled" class="form-check-input" id="flagReleTemp" name="flagReleTemp">
						</div>
					</div>
					<div id="tipoModalita" class="form-group">
						<label class="control-label col-sm-2" for="status">Modalità:</label>
						<div class="col-sm-6">
							<select class="form-control" id="status" name="status">
								<option value="0">SPENTO</option>
								<option value="1">ACCESO</option>
								<option value="2">AUTOMATICO</option>
								<option value="3">MANUALE</option>
							</select>
						</div>
					</div>
					<div id="tipoMisurazione" class="form-group">
						<label class="control-label col-sm-2" for="measureType">Tipo Misurazione Temperatura :</label>
						<div class="col-sm-6">
							<select class="form-control" id="measureType" name="tempMeasure">
								<option value="1">LOCALE</option>
								<option value="2">MEDIA</option>
								<option value="3">CON PRIORITA'</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="flagLightSensor">Sensore Luce:</label>
						<div class="checkbox form-check col-sm-1">
							<input type="checkbox" disabled="disabled" class="form-check-input" id="flagLightSensor" name="flagLightSensor">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="flagMotionSensor">Sensore Movimento:</label>
						<div class="checkbox form-check col-sm-1">
							<input type="checkbox" disabled="disabled" class="form-check-input" id="flagMotionSensor" name="flagMotionSensor">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="flagReleLight">Controllo Accensione Luce:</label>
						<div class="checkbox form-check col-sm-1">
							<input type="checkbox" disabled="disabled" class="form-check-input" id="flagReleLight" name="flagReleLight">
						</div>
					</div>
					<div id="tipoModalitaLuce" class="form-group">
						<label class="control-label col-sm-2" for="measureType">Modalità:</label>
						<div class="col-sm-6">
							<select class="form-control" id="statusLight" name="statusLight">
								<option value="0">SPENTO</option>
								<option value="2">AUTOMATICO</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-2" for="flagLcd">LCD presente:</label>
						<div class="checkbox form-check col-sm-1">
							<input type="checkbox" disabled="disabled" class="form-check-input" id="flagLcd" name="flagLcd">
						</div>
					</div>

					<div class="form-group">
						<div class="text-center">
							<button id="reloadBtn" class="btn btn-primary" type="button">RICARICA</button>
							<button id="cleanBtn" class="btn btn-primary" type="reset">PULISCI</button>
							<button id="downloadBtn" class="btn btn-primary" type="submit">AGGIORNA</button>
						</div>
					</div>
					<input id="key" type="hidden" name="key">
				</div>


			</form>
		</div>
	</div>


	<script type="text/javascript">
	$(document).ready(function()
	{
	  $('#select-id').change(function(ee)
	  {
		$("#select-id option[value='-1']").remove();
		var id = ee.target;
		var strUser = id.options[id.selectedIndex].value;

		var options = {
		  callback : fillConfigurationForm,
		  key : id.options[id.selectedIndex].value
		}
		getConfiguration(options);
	  });
	  $('#reloadBtn').on('click', function()
	  {
		var options = {
		  callback : fillConfigurationForm,
		  key : $('#key').val()
		}
		getConfiguration(options);
	  });
	  $('#sidebarCollapse').on('click', function()
	  {
		$('#sidebar').toggleClass('active');
	  });
	});
  </script>

</body>
</html>