<!DOCTYPE html>
<html class="no-js" lang="it">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Dashboard for Thermostat Management">
<meta name="author" content="Claudio Fusillo">


<link href="./public/images/img.png" rel="shortcut icon">
<link href="./public/stylesheets/bootstrap.css" rel="stylesheet">
<link href="./public/stylesheets/style2.css" rel="stylesheet">

<script src="./public/javascripts/jquery.js"></script>
<script src="./public/javascripts/bootstrap.js"></script>



<title>Thermostat Management Console</title>

</head>

<body>
	<div class="wrapper">

		<!-- Sidebar Holder -->
		<nav id="sidebar">
			<div class="sidebar-header">
				<h3>Thermostat Dashboard</h3>
			</div>
			<ul class="list-unstyled components">
				<li class="active"><a href="./dashboard"> <i class="glyphicon glyphicon-home"></i> Home
				</a></li>
				<li><a href="./configurazione"> <i class="glyphicon glyphicon-cog"></i>Gestione
				</a></li>
				<li><a href="./statistiche"> <i class="glyphicon glyphicon-stats"></i>Statistiche
				</a></li>
				<li><a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"><i class="glyphicon glyphicon-list-alt"></i>Programmazione</a>
					<ul class="collapse list-unstyled" id="homeSubmenu">
						<li><a href="./programmazioneTemp"><i class="glyphicon glyphicon-fire"></i>Accensione Riscaldamento</a></li>
						<li><a href="./programmazioneLight">Accensione Luce</a></li>
					</ul></li>
			</ul>
		</nav>

		<!-- Page Content Holder -->
		<div id="content">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
							<i class="glyphicon glyphicon-menu-hamburger"></i> <span>Menu</span>
						</button>
					</div>
				</div>
			</nav>

			<h2>Thermostats Management Console</h2>
			<div class="row">
				<div class="col-md-4 col-sm-4 col-xs-12">
					<div class="ourTeam-box text-center">
						<div class="col-md-12 section1">
							<a href="./programmazioneTemp"> <img src="./public/images/programmazione.png">
							</a>
						</div>
						<div class="section2">
							<h1>PROGRAMMAZIONE</h1>
							<br>
						</div>
						<div class="section3">
							<p>Gestisce la programmazione dei Termostati.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12">
					<div class="section-info ourTeam-box text-center">
						<div class="col-md-12 section1">
							<a href="./statistiche"> <img src="./public/images/grafici.png">
							</a>
						</div>
						<div class="section2">
							<h1>STATISTICHE</h1>
							<br>
						</div>
						<div class="section3">
							<p>Visualizza grafici statistici relativi all'escursione termica nei periodi di osservazione ed all'utilizzo delle risorse</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12">
					<div class="section-info ourTeam-box text-center">
						<div class="col-md-12 section1">
							<a href="./configurazione"> <img src="./public/images/settings.png">
							</a>
						</div>
						<div class="section2">
							<h1>CONFIGURAZIONE</h1>
							<br>
						</div>
						<div class="section3">
							<p>Configura i dispositivi rilevati</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
	$(document).ready(function()
	{
	  $('#sidebarCollapse').on('click', function()
	  {
		$('#sidebar').toggleClass('active');
	  });
	});
  </script>
</body>
</html>