<!DOCTYPE html>
<html class="no-js" lang="it">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Dashboard for Amazon">
<meta name="author" content="Claudio Fusillo">
<link rel="shortcut icon" href="/images/img.png">

<title>Programmazione Accensione Riscaldamento</title>

<link href="./public/stylesheets/bootstrap.css" rel="stylesheet">
<link href="./public/stylesheets/style2.css" rel="stylesheet">
<link href="./public/stylesheets/bootstrap-slider.css" rel="stylesheet" />
<link href="./public/stylesheets/bootstrap-material-datetimepicker.css" />

<script src="./public/javascripts/jquery.js"></script>
<script src="./public/javascripts/bootstrap.js"></script>
<script src="./public/javascripts/material.js"></script>
<script src="./public/javascripts/moment.js"></script>
<script type="text/javascript" src="./public/javascripts/bootstrap-material-datetimepicker.js"></script>
<script type="text/javascript" src="./public/javascripts/bootstrap-slider.js"></script>
<script type="text/javascript" src="./public/javascripts/TermCommon.js"></script>
<script type="text/javascript">
  var datiProgrammazione = {
	callback : fillProgrammazione,
	name : '',
	idProg : 0
  }
  var datiDisposistivi = {
	callback : fillDispositivi,
  }
  $(document).ready(function()
  {
	getConfiguration(datiDisposistivi);

	getTempProgramming(datiProgrammazione);
  });
  // set in dati programmazione cosa è cambiato
</script>
</head>

<body>
	<div class="wrapper">

		<!-- Sidebar Holder -->
		<nav id="sidebar">
			<div class="sidebar-header">
				<h3>Thermostat Dashboard</h3>
			</div>
			<ul class="list-unstyled components">
				<li><a href="./dashboard"> <i class="glyphicon glyphicon-home"></i> Home
				</a></li>
				<li><a href="./configurazione"> <i class="glyphicon glyphicon-cog"></i>Gestione
				</a></li>
				<li><a href="./statistiche"> <i class="glyphicon glyphicon-stats"></i>Statistiche
				</a></li>
				<li class="active"><a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"><i class="glyphicon glyphicon-list-alt"></i>Programmazione</a>
					<ul class="collapse list-unstyled" id="homeSubmenu">
						<li class="active"><a href="./programmazioneTemp"><i class="glyphicon glyphicon-fire"></i>Accensione Riscaldamento</a></li>
						<li><a href="./programmazioneLight">Accensione Luce</a></li>
					</ul></li>
			</ul>
		</nav>

		<!-- Page Content Holder -->
		<div id="content">

			<nav class="navbar navbar-default">
				<div class="container-fluid">

					<div class="navbar-header">
						<button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
							<i class="glyphicon glyphicon-menu-hamburger"></i> <span>Menu</span>
						</button>
					</div>
				</div>
			</nav>


			<h2>Programmazione</h2>
			<p>Seleziona il dispositivo da programmare.</p>

			<p>
				Come funziona:<br /> 1) Aggiorna la configurazione corrente<br /> 2) Aggiungi un nuova programmazione
			</p>

			<div class="line"></div>


			<form id="MAINFORM" class="form-horizontal" method="POST" action="./rest/updateTempProgramming">
				<input id="dati" type="hidden" name="dati">


				<div class="panel-group">
					<div class="panel panel-default">
						<div class="panel-heading">Programmazione Base</div>
						<div id="datiBase" class="panel-body">
							<div class="form-group col-sm-12 col-md-12">
								<div class="col-sm-6 col-md-6">
									<label class="control-label" for="lastAccess">Ultimo Aggiornamento:</label> <label class="control-label" style="text-align: left"
										id="lastUpdate"></label>
								</div>
							</div>
							<!--  
							<div class="form-group col-sm-12 col-md-12">
								<div class="col-sm-4 col-md-4">
									<div class="group">
										<input id="tempRange" type="text" data-slider-min="10" data-slider-max="25" data-slider-step="0.5" disabled="disabled" /> <span
											class="bar"></span> <label for="tempRange">Temperatura minima</label>
									</div>
								</div>
								<div class="col-sm-4 col-md-4">
									<div class="group">
										<input id="tempRangeManual" type="text" data-slider-min="10" data-slider-max="25" data-slider-step="0.5" disabled="disabled" /> <span
											class="bar"></span> <label for="tempRangeManual">Temperatura minima in manuale</label>
									</div>
								</div>
							</div>
-->
							<div hidden="true" id="programmingList" class="form-group col-sm-12 col-md-12">
								<div class="col-sm-8 col-md-8">
									<label class="control-label col-sm-2" for="select-ProgId">Programmazioni</label>
									<div class="col-sm-6">
										<select class="form-control show-tick" id="select-ProgId">
										</select>
									</div>
								</div>

							</div>
							<div class="form-group col-sm-12 col-md-12">
								<div class="col-sm-6 col-md-6 col-sm-offset-6 col-md-offset-6">
									<div class="text-center">
										<button id="addProgrammingBtn" class="btn btn-primary" type="button">AGGIUNGI</button>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						Programma <label tyle="text-align: left;bold;" id="progName"></label>
					</div>
					<div class="panel-body">
						<div id="datiBaseProg" class="panel-body">
							<div class="form-group col-sm-12 col-md-12">
								<div class="col-sm-4 col-md-4">
									<input type="text" id="nome"><span class="bar"></span> <label for="nome">Nome</label>
								</div>
								<div class="col-sm-4 col-md-4">
									<div class="group">
										<input id="tempRange" type="text" data-slider-min="10" data-slider-max="25" data-slider-step="0.5" disabled="disabled" /> <span
											class="bar"></span> <label for="tempRange">Temperatura minima</label>
									</div>
								</div>
								<div class="col-sm-4 col-md-4">
									<div class="group">
										<input id="tempRangeManual" type="text" data-slider-min="10" data-slider-max="25" data-slider-step="0.5" disabled="disabled" /> <span
											class="bar"></span> <label for="tempRangeManual">Temperatura minima in manuale</label>
									</div>
									</label>
								</div>
<!--  
								<div class="col-sm-4 col-md-4">
									<div class="group">
										<div id="tempActiveOn" hidden="true">
											<button id="tempActive" type="button">
												<span class="glyphicon glyphicon-ok"></span>
											</button>
											<label for="tempActiveOn">Programmazione Attiva</label>
										</div>
										<div id="tempActiveOff" hidden="true">
											<button id="tempActive" type="button">
												<span class="glyphicon glyphicon-remove"></span>
											</button>
											<label for="tempActiveOn">Programmazione Non Attiva</label>
										</div>
									</div>
								</div>
-->								
							</div>
							<div class="form-group col-sm-12 col-md-12">
								<div class="col-sm-6 col-md-6 col-sm-offset-6 col-md-offset-6">
									<div class="text-center">
										<button id="deleteProgrammingBtn" class="btn btn-primary" type="button">ELIMINA</button>
										<button id="setActiveProgrammingBtn" class="btn btn-primary" type="button">ATTIVA</button>
									</div>
								</div>
							</div>
						</div>

						<div class="form-group">
							<ul id="GIOR" class="nav nav-tabs">
								<li id="GIO0"><a data-toggle="tab" href="#datiGiorno">Lunedi'</a></li>
								<li id="GIO1"><a data-toggle="tab" href="#datiGiorno">Martedi'</a></li>
								<li id="GIO2"><a data-toggle="tab" href="#datiGiorno">Mercoledi'</a></li>
								<li id="GIO3"><a data-toggle="tab" href="#datiGiorno">Giovedi'</a></li>
								<li id="GIO4"><a data-toggle="tab" href="#datiGiorno">Venerdi'</a></li>
								<li id="GIO5"><a data-toggle="tab" href="#datiGiorno">Sabato</a></li>
								<li id="GIO6"><a data-toggle="tab" href="#datiGiorno">Domenica'</a></li>
							</ul>

							<div class="tab-content">
								<div id="datiGiorno" class="tab-pane collapse">
									<h3 id="datiGiornoLabel"></h3>
									<div id="g1" class="form-group col-sm-12 col-md-12">
										<div class="col-sm-2 col-md-2">
											<div class="group text-center ">
												<button id="add1" class="btn btn-primary" type="button">
													<span class="glyphicon glyphicon-plus"></span>
												</button>
												<button style="display: none;" id="remove1" class="btn btn-primary" type="button">
													<span class="glyphicon glyphicon-trash"></span>
												</button>
												<button style="display: none;" id="down1" class="btn btn-primary" type="button">
													<span class="glyphicon glyphicon-arrow-down"></span>
												</button>
												<button style="display: none;" id="up1" class="btn btn-primary" type="button">
													<span class="glyphicon glyphicon-arrow-up"></span>
												</button>
											</div>
										</div>
										<div hidden="true" id="g11" class="col-sm-4 col-md-4">
											<div class="group">
												<input id="tempRange1" type="text" data-slider-min="10" data-slider-max="25" data-slider-step="0.5" disabled="disabled" /> <span
													class="bar"></span> <label for="tempRange1">Temperatura minima</label>
											</div>
										</div>
										<div hidden="true" id="g21" class="col-sm-2 col-md-2">
											<div class="group">
												<input type="text" id="time-start1"><span class="bar"></span> <label for="time-start1">Ora inizio</label>
											</div>
										</div>
										<div hidden="true" id="g31" class="col-sm-2 col-md-2">
											<div class="group">
												<input type="text" id="time-end1"><span class="bar"></span> <label for="time-end1">Ora fine</label>
											</div>
										</div>
										<div hidden="true" id="g41" class="col-sm-2 col-md-2">
											<div class="group">
												<span class="bar"></span> <label for="termDisp1">Priorita'</label> <select class="form-control" id="termDisp1">
												</select>
											</div>
										</div>
									</div>
									<div id="g2" class="form-group col-sm-12 col-md-12">
										<div class="col-sm-2 col-md-2">
											<div class="group text-center ">
												<button style="display: none;" id="add2" class="btn btn-primary" type="button">
													<span class="glyphicon glyphicon-plus"></span>
												</button>
												<button style="display: none;" id="remove2" class="btn btn-primary" type="button">
													<span class="glyphicon glyphicon-trash"></span>
												</button>
												<button style="display: none;" id="down2" class="btn btn-primary" type="button">
													<span class="glyphicon glyphicon-arrow-down"></span>
												</button>
												<button style="display: none;" id="up2" class="btn btn-primary" type="button">
													<span class="glyphicon glyphicon-arrow-up"></span>
												</button>
											</div>
										</div>
										<div hidden="true" id="g12" class="col-sm-4 col-md-4">
											<div class="group">
												<input id="tempRange2" type="text" data-slider-min="10" data-slider-max="25" data-slider-step="0.5" disabled="disabled" /> <span
													class="bar"></span> <label for="tempRange2">Temperatura minima</label>
											</div>
										</div>
										<div hidden="true" id="g22" class="col-sm-2 col-md-2">
											<div class="group">
												<input type="text" id="time-start2"><span class="bar"></span> <label for="time-start2">Ora inizio</label>
											</div>
										</div>
										<div hidden="true" id="g32" class="col-sm-2 col-md-2">
											<div class="group">
												<input type="text" id="time-end2"><span class="bar"></span> <label for="time-end2">Ora fine</label>
											</div>
										</div>
										<div hidden="true" id="g42" class="col-sm-2 col-md-2">
											<div class="group">
												<span class="bar"></span> <label for="termDisp2">Priorita'</label> <select class="form-control" id="termDisp2">
												</select>
											</div>
										</div>
									</div>
									<div id="g3" class="form-group col-sm-12 col-md-12">
										<div class="col-sm-2 col-md-2">
											<div class="group text-center ">
												<button style="display: none;" id="add3" class="btn btn-primary" type="button">
													<span class="glyphicon glyphicon-plus"></span>
												</button>
												<button style="display: none;" id="remove3" class="btn btn-primary" type="button">
													<span class="glyphicon glyphicon-trash"></span>
												</button>
												<button style="display: none;" id="down3" class="btn btn-primary" type="button">
													<span class="glyphicon glyphicon-arrow-down"></span>
												</button>
												<button style="display: none;" id="up3" class="btn btn-primary" type="button">
													<span class="glyphicon glyphicon-arrow-up"></span>
												</button>
											</div>
										</div>
										<div hidden="true" id="g13" class="col-sm-4 col-md-4">
											<div class="group">
												<input id="tempRange3" type="text" data-slider-min="10" data-slider-max="25" data-slider-step="0.5" disabled="disabled" /> <span
													class="bar"></span> <label for="tempRange3">Temperatura minima</label>
											</div>
										</div>
										<div hidden="true" id="g23" class="col-sm-2 col-md-2">
											<div class="group">
												<input type="text" id="time-start3"><span class="bar"></span> <label for="time-start3">Ora inizio</label>
											</div>
										</div>
										<div hidden="true" id="g33" class="col-sm-2 col-md-2">
											<div class="group">
												<input type="text" id="time-end3"><span class="bar"></span> <label for="time-end3">Ora fine</label>
											</div>
										</div>
										<div hidden="true" id="g43" class="col-sm-2 col-md-2">
											<div class="group">
												<span class="bar"></span> <label for="termDisp3">Priorita'</label> <select class="form-control" id="termDisp3">
												</select>
											</div>
										</div>
									</div>
									<div id="g4" class="form-group col-sm-12 col-md-12">
										<div class="col-sm-2 col-md-2">
											<div class="group text-center ">
												<button style="display: none;" id="add4" class="btn btn-primary" type="button">
													<span class="glyphicon glyphicon-plus"></span>
												</button>
												<button style="display: none;" id="remove4" class="btn btn-primary" type="button">
													<span class="glyphicon glyphicon-trash"></span>
												</button>
												<button style="display: none;" id="down4" class="btn btn-primary" type="button">
													<span class="glyphicon glyphicon-arrow-down"></span>
												</button>
												<button style="display: none;" id="up4" class="btn btn-primary" type="button">
													<span class="glyphicon glyphicon-arrow-up"></span>
												</button>

											</div>
										</div>
										<div hidden="true" id="g14" class="col-sm-4 col-md-4">
											<div class="group">
												<input id="tempRange4" type="text" data-slider-min="10" data-slider-max="25" data-slider-step="0.5" disabled="disabled" /> <span
													class="bar"></span> <label for="tempRange4">Temperatura minima</label>
											</div>
										</div>
										<div hidden="true" id="g24" class="col-sm-2 col-md-2">
											<div class="group">
												<input type="text" id="time-start4"><span class="bar"></span> <label for="time-start4">Ora inizio</label>
											</div>
										</div>
										<div hidden="true" id="g34" class="col-sm-2 col-md-2">
											<div class="group">
												<input type="text" id="time-end4"><span class="bar"></span> <label for="time-end4">Ora fine</label>
											</div>
										</div>
										<div hidden="true" id="g44" class="col-sm-2 col-md-2">
											<div class="group">
												<span class="bar"></span> <label for="termDisp4">Priorita'</label> <select class="form-control" id="termDisp4">
												</select>
											</div>
										</div>
									</div>
									<div hidden="true" id="copyDay" class="form-group col-sm-12 col-md-12">
										<div class="col-sm-6 col-md-6 col-sm-offset-6 col-md-offset-6">
											<div class="text-center">
												<button id="copyBtn" class="btn btn-primary" type="button">COPIA</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group col-sm-12 col-md-12">
					<div class="col-sm-6 col-md-6 col-sm-offset-6 col-md-offset-6">
						<div class="text-center">
							<button id="reloadBtn" class="btn btn-primary" type="button">RICARICA</button>
							<button id="saveBtn" class="btn btn-primary" type="button">SALVA</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

	<!-- Modal confirm -->
	<div class="modal fade" id="confirmModal" role="dialog" style="display: none;">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<!--  
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				-->
				<div class="modal-body" id="confirmMessage"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" id="confirmOk">Conferma</button>
					<button type="button" class="btn btn-primary" id="confirmCancel">Annulla</button>
				</div>
			</div>
		</div>
	</div>

	<!--  Modal copy configuration-->
	<div class="modal fade" id="copyModal" role="dialog" style="display: none;">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<!--  
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				-->
				<div class="modal-body">
					<div>
						<h4>Seleziona i giorni un cui copiare la programmazione selezionata</h4>
					</div>
					<div class="container-fluid">
						<div hidden="true" id="cp1" class="row">
							<div class="col-md-2">
								<input id="cps1" type="checkbox" />
							</div>
							<div class="col-md-6 ml-auto">
								<label>Martedi'</label>
							</div>
						</div>
						<div hidden="true" id="cp2" class="row">
							<div class="col-md-2">
								<input id="cps2" type="checkbox" />
							</div>
							<div class="col-md-6 ml-auto">
								<label>Mercoledi'</label>
							</div>
						</div>
						<div hidden="true" id="cp3" class="row">
							<div class="col-md-2">
								<input id="cps3" type="checkbox" />
							</div>
							<div class="col-md-6 ml-auto">
								<label>Giovedi'</label>
							</div>
						</div>
						<div hidden="true" id="cp4" class="row">
							<div class="col-md-2">
								<input id="cps4" type="checkbox" />
							</div>
							<div class="col-md-6 ml-auto">
								<label>Venerdi'</label>
							</div>
						</div>
						<div hidden="true" id="cp5" class="row">
							<div class="col-md-2">
								<input id="cps5" type="checkbox" />
							</div>
							<div class="col-md-6 ml-auto">
								<label>Sabato</label>
							</div>
						</div>
						<div hidden="true" id="cp6" class="row">
							<div class="col-md-2">
								<input id="cps6" type="checkbox" />
							</div>
							<div class="col-md-6 ml-auto">
								<label>Domenica</label>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" id="confirmCopy">Conferma</button>
					<button type="button" class="btn btn-primary" id="confirmCopyCancel">Annulla</button>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
	function getProgTime(sTime)
	{
	  var h = sTime.substring(0, 2);
	  var m = sTime.substring(3, 5);
	  return parseInt(h) * 60 + parseInt(m);
	}

	function updateProgBase(ee)
	{
	  var prog = datiProgrammazione.data.programming[datiProgrammazione.currentProgram];
	  var idS = $(this).attr('id');
	  var val = $('#' + idS).val();
	  if (idS === 'nome')
	  {
		prog.name = val;
	  } else if (idS === 'tempRange')
	  {
		prog.minTemp = parseFloat(val);
	  } else if (idS === 'tempRangeManual')
	  {
		prog.minTempManual = parseFloat(val);
	  }
	  datiProgrammazione.anyChange = true;
	  updateDatiProgrammazioneJSON(datiProgrammazione);
	}
	function updateProgDay(ee)
	{
	  var idS = $(this).attr('id');
	  var id = parseInt(idS.substring(idS.length - 1, idS.length)) - 1;
	  var prog = datiProgrammazione.data.programming[datiProgrammazione.currentProgram].dayProgramming[datiProgrammazione.currentDay].prog;
	  if (idS.substring(0, 6) === 'time-e')
	  {
		prog[id].timeEnd = getProgTime($('#' + idS).val());
	  } else if (idS.substring(0, 6) === 'time-s')
	  {
		prog[id].timeStart = getProgTime($('#' + idS).val());
	  } else if (idS.substring(0, 4) === 'temp')
	  {
		prog[id].minTemp = parseFloat($('#' + idS).val());
	  } else if (idS.substring(0, 4) === 'term')
	  {
		prog[id].priorityDisp = parseInt($('#' + idS).val());
	  }
	  datiProgrammazione.anyChange = true;
	  updateDatiProgrammazioneJSON(datiProgrammazione);
	}
	function addDeleteProgDay(idS)
	{
	  var id = idS.substring(idS.length - 1, idS.length);
	  var but = idS.substring(0, idS.length - 1);
	  manageProgData(but, datiProgrammazione, id);
	  // refresh page
	  manageProgData('showall', datiProgrammazione);
	  datiProgrammazione.anyChange = true;
	  updateDatiProgrammazioneJSON(datiProgrammazione);
	}
	function confirmDialog(message, onConfirm, p1)
	{
	  var fClose = function()
	  {
		modal.modal("hide");
	  };
	  var modal = $("#confirmModal");
	  modal.modal("show");
	  $("#confirmMessage").empty().append(message);

	  $("#confirmOk").click(function(e)
	  {
		onConfirm(p1);
		fClose();
	  });
	  $("#confirmCancel").click(function(e)
	  {
		fClose();
	  });
	}
	/**
	 * COPY DIALOG
	 */
	function copyDialog(day)
	{
	  for (var ix = 0; ix < 7; ix++)
	  {
		if (ix > day)
		{
		  $('#cp' + ix).show();

		} else
		  $('#cp' + ix).hide();
		$('#cps' + ix).prop('checked', false);
	  }
	  var fClose = function()
	  {
		modal.modal("hide");
	  };
	  var modal = $("#copyModal");
	  modal.modal("show");

	  $("#confirmCopy").click(function(e)
	  {
		//onConfirm(p1);
		var prog = datiProgrammazione.data.programming[datiProgrammazione.currentProgram].dayProgramming[datiProgrammazione.currentDay].prog;
		for (var ix = day + 1; ix < 7; ix++)
		{
		  if ($('#cps' + ix).prop('checked'))
			datiProgrammazione.data.programming[datiProgrammazione.currentProgram].dayProgramming[ix].prog = prog;
		  //alert("Selezionato " + );
		}
		datiProgrammazione.anyChange = true;
		updateDatiProgrammazioneJSON(datiProgrammazione);
		fClose();
	  });
	  $("#confirmCopyCancel").click(function(e)
	  {
		fClose();
	  });
	}
	$(document).ready(function()
	{
	  var defT = {
		date : false,
		shortTime : false,
		format : 'HH:mm',
		lang : 'it',
		cancelText : 'Annulla',
		clearText : 'Pulisci'
	  }
	  // init slider
	  // check in style for correct visualizzation
	  $('#tempRange').slider({});
	  $('#tempRangeManual').slider({});
	  //$('#tempRange0').slider({});

	  reloadBtn
	  $('#reloadBtn').click(function(e)
	  {
		confirmDialog("Confermi l'eliminazione di tutte le modifiche effettuate ?", function()
		{
		  location.reload(true);
		});
	  });

	  $('#saveBtn').click(function(e)
	  {
		confirmDialog("Confermi il salvataggio dei dati modificati ?", function()
		{
		  $("#MAINFORM").submit();
		});
	  });

	  $('#deleteProgrammingBtn').click(function(e)
	  {
		confirmDialog("Confermi cancellazione della programmazione selezionata ?", function()
		{
		  //addProgramming("temp");
		  //TODO da implementare
		  location.reload(true);
		});
	  });

	  $('#setActiveProgrammingBtn').click(function(e)
	  {
		confirmDialog("Confermi attivazione della programmazione selezionata ?", function()
		{
		  datiProgrammazione.data.activeProg = datiProgrammazione.currentProgram;
		  updateDatiProgrammazioneJSON(datiProgrammazione);
		  manageProgrammazioneAttiva(datiProgrammazione);
		});
	  });

	  $('#addProgrammingBtn').click(function(e)
	  {
		confirmDialog("Confermi aggiunta di una nuova programmazione ?", function()
		{
		  addProgramming("temp");
		  location.reload(true);
		});
	  });
	  $('#datiGiorno button').click(function(e)
	  {
		var idS = $(this).attr('id');
		if (idS === 'copyBtn')
		{
		  copyDialog(datiProgrammazione.currentDay);
		} else
		{
		  var action = idS.substring(0, idS.length - 1);
		  if (action === 'remove')
			confirmDialog("Confermi la cancellazione del record ?", addDeleteProgDay, idS);
		  else
			addDeleteProgDay(idS);
		}
	  });
	  $('#datiBaseProg input').change(updateProgBase);
	  $('#datiBase input').change(updateProgBase);
	  $('#datiGiorno select').change(updateProgDay);
	  $('#datiGiorno input').change(updateProgDay);
	  $('#datiGiorno').find('input').each(function()
	  {
		var idS = $(this).attr('id');
		var id = idS.substring(idS.length - 1, idS.length);
		if (idS.substring(0, 4) === 'temp')
		{
		  $('#' + idS).slider({});
		  $('#time-start' + id).bootstrapMaterialDatePicker(defT).on('change', function(e, date)
		  {
			$('#time-end' + id).bootstrapMaterialDatePicker('setMinDate', date);
		  });
		  $('#time-end' + id).bootstrapMaterialDatePicker(defT);
		}
	  });

	  $('#GIOR li').click(function(ee)
	  {
		$('#datiGiornoLabel').text($(this).text());
		var day = $(this).attr('id');
		if (day.substring(0, 3) === 'GIO')
		{
		  var d = parseInt(day.substring(3, 4));
		  datiProgrammazione.currentDay = d;
		  if (d === 6)
			$('#copyDay').hide();
		  else
			$('#copyDay').show();
		  fillProgrammazioneBaseDay(datiProgrammazione)
		}
	  });

	  $('#time-start').bootstrapMaterialDatePicker(defT).on('change', function(e, date)
	  {
		$('#time-end').bootstrapMaterialDatePicker('setMinDate', date);
	  });
	  $('#time-end').bootstrapMaterialDatePicker(defT);

	  $('#select-ProgId').change(function(e)
	  {
		var id = e.target;
		var strUser = parseInt(id.options[id.selectedIndex].value);
		datiProgrammazione.currentProgram = strUser;

		fillProgrammazioneBase(datiProgrammazione);
	  });
	});
  </script>
</body>
</html>