<!DOCTYPE html>
<html class="no-js" lang="it">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Dashboard for Amazon">
<meta name="author" content="Claudio Fusillo">
<link rel="shortcut icon" href="/images/img.png">
<link href="/public/stylesheets/bootstrap.css" rel="stylesheet">
<link href="/public/stylesheets/style2.css" rel="stylesheet">

<script src="/public/javascripts/jquery.js"></script>
<script src="/public/javascripts/bootstrap.js"></script>
<script src="/public/javascripts/material.js"></script>
<script type="text/javascript" src="/public/javascripts/TermCommon.js"></script>
<script type="text/javascript"
	src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  $(document).ready(function()
  {
	google.charts.load('current', {
	  'packages' : [ 'corechart', 'line' ]
	});
	google.charts.setOnLoadCallback(drawChart);
  });

  function pad(n, width, z)
  {
	z = z || '0';
	n = n + '';
	return n.length >= width ? n : new Array(width - n.length + 1).join(z) + n;
  }
  function getIndex(date, interval)
  {
	var d = new Date(date);
	var h = d.getHours();
	var m = d.getMinutes();
	var ix = (h * 60 + m) / interval;
	return ix;
  }
  function getStatistic(dataT, dataP)
  {
	var interval = 30;
	$.ajax({
	  type : "GET",
	  url : "/term/getStatistics/1?interval=" + interval,
	  contentType : "application/json; charset=utf-8",
	  dataType : "json",
	  success : function(data, status, jqXHR)
	  {
		if (data.error.code === 0)
		{
		  var firstIx = 0;
		  var lastIx = 1440 / interval | 0;
		  var logData = data.data.data;
		  if (logData)
		  {
			if (logData.length > 0)
			{
			  firstIx = getIndex(logData[0].time, interval);
			  lastIx = getIndex(logData[logData.length - 1].time, interval)
			  //alert("Da " + firstIx + " a " + lastIx);
			}
		  }

		  //var dataT = new google.visualization.DataTable();
		  dataT.addColumn('string', 'Ora');
		  dataT.addColumn('number', 'Media Temperatura');
		  dataP.addColumn('string', 'Ora');
		  dataP.addColumn('number', 'Media Pressione');
		  var rowsT = [];
		  var rowsP = [];
		  var ix = 0;
		  for (var i = 0; i < 1440; i += interval)
		  {
			var h = i / 60 | 0;
			var m = i % 60;

			var lT = [ pad(h, 2) + ':' + pad(m, 2), 0.0 ];
			var lP = [ pad(h, 2) + ':' + pad(m, 2), 0.0 ];
			if (ix >= firstIx && ix <= lastIx)
			{
			  rowsT.push(lT);
			  rowsP.push(lP);
			}
			ix++;
		  }
		  var el = document.getElementById('FROMDATE');
		  if (el)
			el.textContent = new Date(data.data.startTime);
		  el = document.getElementById('TODATE');
		  if (el)
			el.textContent = new Date(data.data.endTime);
		  /* 			  el = document.getElementById('TZ');
		   if (el)
		   {
		   var t = new Date(data.data.endTime);
		   var jan = new Date(t.getFullYear(), 0, 1);
		   var jul = new Date(t.getFullYear(), 6, 1);
		   var n = Math.min(jan.getTimezoneOffset(), jul
		   .getTimezoneOffset()) == t.getTimezoneOffset();
		   el.textContent = n;
		   }
		   *///var logData = data.data.data;
		  for (var i = 0; i < logData.length; i++)
		  {
			var entry = logData[i];
			/* 				var d = new Date(entry.time);
			 var h = d.getHours();
			 var m = d.getMinutes();
			 var ix = (h * 60 + m) / interval; */
			ix = getIndex(entry.time, interval);
			rowsT[ix - firstIx][1] = entry.temperature;
			rowsP[ix - firstIx][1] = entry.pressure;
			//rows[ix][2] = entry.pressure;
		  }
		  dataT.addRows(rowsT);
		  dataP.addRows(rowsP);
		  var optionsT = {
			chart : {
			  title : 'Andamento temperatura nella giornata corrente',
			  curveType : 'function',
			  subtitle : 'in gradi centigradi'
			}
		  };
		  var optionsP = {
			chart : {
			  title : 'Andamento pressione atmosferica nella giornata corrente',
			  curveType : 'function',
			  subtitle : 'in ..'
			}
		  };

		  var chartT = new google.charts.Line(document.getElementById('linechart_temperature'));
		  chartT.draw(dataT, google.charts.Line.convertOptions(optionsT));
		  var chartP = new google.charts.Line(document.getElementById('linechart_pressure'));
		  chartP.draw(dataP, google.charts.Line.convertOptions(optionsP));

		}

	  },

	  error : function(jqXHR, status)
	  {
		// error handler
	  }
	});

  };

  function drawChart()
  {
	var dataT = new google.visualization.DataTable();
	var dataP = new google.visualization.DataTable();
	getStatistic(dataT, dataP);
  }
</script>
</head>

<body>
	<div class="wrapper">

		<!-- Sidebar Holder -->
		<nav id="sidebar">
			<div class="sidebar-header">
				<h3>Mani' Dashboard</h3>
				<strong>Mani'</strong>
			</div>

			<ul class="list-unstyled components">
				<li><a href="/dashboard"> <i
						class="glyphicon glyphicon-home"></i> Home
				</a> <a href="/fatture"> <i class="glyphicon glyphicon-euro"></i>
						Fatture
				</a> <a href="/store"> <i class="glyphicon glyphicon-download"></i>
						Venduto in store
				</a></li>
				<li class="active"><a href="/commissioni"> <i
						class="glyphicon glyphicon-scissors"></i> Commissioni risparmiate
				</a></li>
				<li><a href=""> <i class="glyphicon glyphicon-cog"></i>
						Configurazioni
				</a></li>
			</ul>
		</nav>

		<!-- Page Content Holder -->
		<div id="content">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" id="sidebarCollapse"
							class="btn btn-info navbar-btn">
							<i class="glyphicon glyphicon-menu-hamburger"></i> <span>Menu</span>
						</button>
					</div>
				</div>
			</nav>

			<h2>Statistiche</h2>

			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-3 col-sm-3 col-xs-6">Data Da</div>
				<div id="FROMDATE" class="col-md-3 col-sm-3 col-xs-6"></div>
				<div class="col-md-3 col-sm-3 col-xs-6">Data A</div>
				<div id="TODATE" class="col-md-3 col-sm-3 col-xs-6"></div>
				<div id="linechart_temperature" class="chart"></div>
				<div id="linechart_pressure" class="chart"></div>
			</div>

		</div>
	</div>
	<script type="text/javascript">
	$(document).ready(function()
	{
	  $('#select-id').change(function(ee)
	  {
		$("#select-id option[value='-1']").remove();
		var id = ee.target;
		var strUser = id.options[id.selectedIndex].value;

		var options = {
		  callback : fillConfigurationForm,
		  key : id.options[id.selectedIndex].value
		}
		getConfiguration(options);
		$('#PIPPO').collapse('show');
	  });
	  $('#sidebarCollapse').on('click', function()
	  {
		$('#sidebar').toggleClass('active');
	  });
	});
  </script>
</body>
</html>